body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column; 
  background-color: #0B1C2F;
}
main{
  display: flex;
  flex-direction: row;
  flex: auto;
  margin: 0px 50px 20px 0px;
}
article{
  overflow-y: auto;
  flex: 2;
}
nav{
  background-color: #202020;
}
img.logo{
  float:left;
  margin-top: 5px;
  margin-left: 5%;
}
ul.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0 20% 0 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  }
ul.menu-list li{
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  }  
ul.menu-list li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
ul.menu-list li a:visited{
  color: white;
  text-decoration-color: white;
  }
ul.menu-list li a:hover{
  font-weight: bold;
  text-decoration: underline;
  }
div.contenedor{
  position: relative;
  display: inline-block;
}
div.texto-encima{
position: absolute;
bottom: 10px;
margin-bottom: -6px;
background-color: #0B1C2F;
}
aside {
  flex: 1;
  overflow-y: auto;
  background: #0B1C2F;
  padding: 50px 15px;
  }
aside p {
  border: 1px solid #bbb;
  background: #ddd;
  color: black;
  }
/* Aside */

aside p {
	border-radius: 10px;
	padding: 20px 20px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
  background-color: #202020;
  height: 100px;
  margin-left: 0 px;
  margin-right: 0px;
}
a.holberton{
  color: #FF2666;

}